<% if @items.present? %>
  <% @items.each do |item| %>
      <p><%= item.itemname %></p>
      <p><%= item.itemprice %></p>
      <% if item.imageflag == 1 %>
          <%= image_tag item.mediumimageurls %>
      <%end%>
  <% end %>
 <% end %>