
<% if flash[:alert] %>
  <p class="alert alert-warning"><%= flash[:notice] %></p>
<% end %>
<div class="container-fluid">
  <div class="container">
    
    <div id="post_index_new">
      <%= render 'post_new', posts: @posts %>
    </div>
    
  
  </div>
</div>