/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";
 // 配色
 // ベースカラー:#E1DABD
 // メインカラー:#2A3D45
 // サブメインカラー:5688C7
 // アクセントカラー:#E76F51

 
 a:hover {
  text-decoration: none;
 }
* {
  background:#E1DABD;
  color:#ffffff;
 }
 .header {
  color:#ffffff;
 }
 .base {
  color:#E1DABD;
 }
 .bg-base{
  background-color:#E1DABD;
 }
 .main {
  background-color:#2A3D45;
 }
 .bg-main{
  color:#2A3D45;
 }
 .sub-main{
  color: #5688C7;
 }
 .bg-sub-main{
  background-color: #5688C7;
 }
 .bg-accent{
  background-color:#E76F51;
 }
 .accent{
  color:#E76F51;
 }
 
 
 .border {
  color: #001858;
 }
 .modal-content {
  z-index:9999;
 }
 .show {
  background:#ffffff8a;
 }
 
 // 以下カラーコード記載
 // 背景色:#fef6e4
 // テキスト:#001858
 // 段落:#172c66
 // ボタン:#f582ae
 // ボタンのテキスト:#001858
 // ボーダー:#001858
 // メイン:#f3d2c1
 // ハイライト:#fef6e4
 // 2次背景:#8bd3dd
 // 3次背景:#f582ae



